<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/24ae891478.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/utilities.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Abro-Taxi</title>
  </head>

  <body id="home">
    <header class="hero contact">
      <div id="navbar" class="navbar top-contact">
        <h1 class="logo">
          <i class="fa-solid fa-taxi icon-taxi"></i> Abro
          <span class="text-primary"> Taxi</span>
        </h1>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="index.html#about">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a class="more" href="sidebar.html">MORE</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- side bar -->
    <div class="grid">
      <div class="sidebar bg-dark">
        <ul>
          <li>
            <h3>Manege Drivers</h3>
          </li>
          <li>
            <a class="sidebar-btn" href="#"
              ><label for="Driver name">Driver name</label></a
            >
          </li>
          <li>
            <a class="sidebar-btn" href="#">
              <label for="Driver seats">Driver seats</label>
            </a>
          </li>
          <li><a class="sidebar-btn" href="#">Set</a></li>
          <li><a class="sidebar-btn" href="#">Driver info</a></li>
          <li><a class="sidebar-btn" href="#">Assign Driver</a></li>
          <li><a class="sidebar-btn" href="#">Assigned tasks</a></li>
          <li>
            <h3 class="bg-dark">Manage Clients</h3>
          </li>
          <li>
            <a class="sidebar-btn" href="#"
              ><label for="">Start point</label></a
            >
          </li>
          <li>
            <a class="sidebar-btn" href="#"> <label for="">End point</label></a>
          </li>
          <li>
            <a class="sidebar-btn" href="#">
              <label for=""> Service Group</label></a
            >
          </li>
          <li><a class="sidebar-btn" href="#">Load Maching Group</a></li>
          <li>
            <h3>Left Seats</h3>
          </li>
          <li><a class="sidebar-btn" href="#">Find Assigned Clients</a></li>
          <li><a class="sidebar-btn" href="#">Find Unassigned Clients</a></li>
          <li>
            <a class="sidebar-btn" href="#">Client name</a>
          </li>
          <li><a class="sidebar-btn" href="#">Client info</a></li>
          <li><a class="sidebar-btn" href="#">Allow reorder</a></li>
          <li><a class="sidebar-btn" href="#">All Assigned Clients</a></li>
          <li><a class="sidebar-btn" href="#">All unassigned Clients </a></li>
          <li><a class="sidebar-btn" href="#">Add to Group</a></li>
          <li><a class="sidebar-btn" href="#">Move to Group</a></li>
          <li><a class="sidebar-btn" href="#">Get report</a></li>
          <li><a class="sidebar-btn" href="#">Set</a></li>
        </ul>
      </div>
      <div class="list-content">
        <div class="search-container">
          <form action="">
            <input type="text" placeholder="search driver info" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>

        <!--  -->
        <!--  -->
        <table class="table responsive">
          <thead class="bg-dark">
            <tr>
              <td>Phone</td>
              <td>Name</td>
              <td>Service Gruop</td>
              <td>Start Point</td>
              <td>End Point</td>
              <td>Order Date</td>
              <td>Reg Date</td>
              <td>States</td>
              <td>Payment States</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td data-label="Phone">
                <div class="phone-primary">+25193599333</div>
              </td>
              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-secondary">+25193599333</div>
              </td>
              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-primary">+25193599333</div>
              </td>
              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-secondary">+25193599333</div>
              </td>

              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-primary">+25193599333</div>
              </td>
              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-secondary">+25193555333</div>
              </td>

              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
            <tr>
              <td data-label="Phone">
                <div class="phone-primary">+25193599333</div>
              </td>
              <td data-label="Name">Rahma Hussen Beshir</td>
              <td data-label="Service Gruop">Jaffer_hussen-kara to mexico</td>
              <td data-label="Start Point">kara</td>
              <td data-label="End Point">mexico</td>
              <td data-label="Order Date">2014,6,2</td>
              <td data-label="Reg Date">2014,6,2</td>
              <td data-label="States">active</td>
              <td data-label="Payment States">unpaid</td>
              <td>
                <div class="btn">Join Service</div>
              </td>
            </tr>
          </tbody>
        </table>

        <!--  -->
      </div>
    </div>

    <script>
      const hidden = document.querySelector('.info-hidden');
      document.querySelector('.more').addEventListener('click', function () {
        hidden.classList.remove('hidden');
      });
    </script>
  </body>
</html>
