<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/24ae891478.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Abro Taxi</title>
  </head>

  <body id="home">
    <header class="hero contact">
      <div id="navbar" class="navbar top-contact">
        <h1 class="logo">
          <i class="fa-solid fa-taxi icon-taxi"></i> Abro
          <span class="text-primary"> Taxi</span>
        </h1>
        <nav>
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html#about">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="login.html">LOGIN</a></li>
            <li><a class="more" href="sidebar.html">MORE</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <!-- Contact -->
      <section id="form-container" class="contact flex-columns">
        <div class="row contact">
          <div class="column">
            <div class="column-1">
              <h3>
                Abro Taxi offers Home to Work/Office taxi service to make the
                life of our customers easy.
              </h3>
             
            <p>
              We implement it using mobile apps and excellent supportive staffs. 
              አብሮ የታክሲ አገልግሎት ድርጅት ደንበኞቻችን በሞባይል በቀላሉ በመመዝገብና ክፍያን በመፈፀም ከመኖሪያ ቦታ ወደ ስራ ቦታ በማድረስና በመመለስ የደንበኞቻችንን ኑሮ የሚያቀል ምቹ የታክሲ አገልግሎት የሚሰጥ ተቋም ነው፡፡
              ለተጨማሪ ማብራሪያ በስልክ ቁጥሮቻችን እንዲደውሉልን ስንጠይቅዎ በታላቅ ደስታ ነው፡፡<br>
              <h3>0911506002 ABRO<span class="text-primary"> TAXI</span></h3>

            </p>
              <a class="btn" href="#"
                ><i class="fa-solid fa-square-phone"></i> Call For More Info</a
              >
            </div>
          </div>
          <div class="column">
            <div class="column-2 contact-column-2 bg-light">
              <h1><span class="text-primary">About </span>Us</h1>
              <form action="" class="callback-form">
               <p> 
            ⦁  Employees became punctual and productive
            <br>
            ⦁  Employees keeps their security and health safety
            <br>
            ⦁  Being free from Taxi-Que burden, employees motivation will increase
            <br>
            ⦁  This gives employees an opportunity for knowledge share 
            <br>
            ⦁  With this competitive period, employees will update each other to be fit to win
            <br>
            ⦁  Employees will focused and delighted mindset on their work 
            <br>
            ⦁  Use this as a platform to strengthen their social relationships
            <br>
            ⦁  Employees will get more opportunity to know their company strengths, improvement areas, current and coming opportunities and threats.
            <br>
            ⦁  Get and share more information about international operators best experiences
            <br>
            ⦁   Increase participation of social responsibilities and developmental activities
            <br>
            If your company motivate your staffs by sponsoring part of the monthly payment, your company will generate huge benefit in increasing high revenue, improved productivity and long-term employee retention. Therefore, here is our invitation to cover some percentage of their monthly cost.
            <br>
            
            <h3>የአብሮ ታክሲ ደንበኛ ሲሆኑ የሚከተሉትን ጥቅማጥቅሞች ያገኛሉ</h3>
            <br>
            ⦁  ሰራተኞች በሰዓቱ ወደ ስራ በመግባትና በመውጣት በስራቸው ውጤታማ ይሆናሉ
            <br>
            ⦁  የሰራተኞች ደህንነት ይጠበቃል
            <br>
            ⦁  ሰራተኖች ሳይቸገሩ ወደቢሮ በመምጣታቸው የስራ ተነሳሽነታቸው የተሻለ ይሆናል፡፡ እስከ መውጫ ሰዓታቸውም ትኩረታቸው ሳይበታተን በተሻለ ሞራል ስራቸውን ያከናውናሉ
            <br>
            ⦁  ሰራተኞች ጠዋትና ማታ በጉዞ ላይ እያሉ ስለስራቸውና ስለተቋማቸው የመወያየትና የመመካከር ብሎም ተቋማቸውን ይበልጥ የሚያሻሽሉባቸውን ሀሳቦች በጋራ ያመነጫሉ
            <br>
            ⦁  ጊዜው የውድድር ወቅት ከመሆኑ አንፃር የሰራተኞች ትስስር ይበልጥ አስፈላጊ በመሆኑ ለዚህ ምቹ ሁኔታ ይፈጥራል
            <br>
            ⦁  የሰራተኞች አእምሮ ትኩረት ስለስራቸው ይሆናል፡፡ በጠዋት ተነስተው እና ከስራ መውጫ ሰዓት አካባቢ ጀምሮ ስለሚገጥማቸው የትራንስፖርት ችግር በማሰብ የሚያጡትን የስራ ትኩረት ያስተካክላል
            <br>
            ⦁  በአንድ አካባቢ የሚኖሩ ሰራተኞች ከመሆናቸው አንፃር እርስ በርስ ያላቸውን ማህበራዊ ትስስር ያጎለብታሉ፡፡ የስራም ሆነ አብሮ የመኖር ማህበራዊ፣ ተቋማዊና ሀገራዊ ፍቅራቸውም ይጨምራል
            <br>
            ⦁  የተቋማቸውን ጠንካራና ደካማ ጎኖች እንዲሁም ስጋትና መልካም አጋጣሚወች ለመነጋገር መድርክ ያገኛሉ 
            <br>
            ⦁  በቋማቸው ውስጥም ሆነ ከተቋማቸው ውጭ ስላሉ የተለያዩ መረጃወች እርስ በርስ ይለዋወጣሉ፣ ይማማራሉ፡፡ የተለያዩ ተቋማት ሰራተኞች በጋራ ታክሲ በሚጠቀሙበትም ወቅት በየተቋሞቻቸው ያሏቸውን ልምዶችና ተሞክሮወችን ይለዋወጣሉ
            <br>
            ⦁  በጋራ የማልማትና የበጎ አድራጎት ተሳትፏቸውን ያሳድጋሉ
            <br>
            ስለሆነም ድርጅታችሁ የሰራተኞን የታክሲ ወጪ በከፊል ስፖንሰር ቢያደርገ ከላይ የተጠቀሱትንና የመሳሰሉትን ዘላቂ ጥቅሞች ስለሚያስገኝለት ስፖነሰር በማድረግ እንድትሳተፉ ግብዣችንን በአክብሮት እናቀርባለን፡፡
            <br>
            
            አብሮ  የታክሲና የመኪና ኪራይ አገልግሎት ድርጅት የሰራተኞችን በስራ መግቢያ እና መውጫ ሰዓት ወቅት የሚያጋጥማቸውን የታክሲ አገልግሎት ችግሮችን በመገንዘብ በዌብሳይት፣ በሶሻል ሚዲያና በኮል ሴንትር በዘመናዊ አሰራር አገልግሎቱን በተመጣጣኝ ዋጋ ለመስጠት የተደራጀ ተቋም ነው፡፡ <br>ተቋማችን በኢትዩ ቴሌኮም፣ በአየር መንገድ፣ በባንኮችና በመብራት ሀይል እና የግል ተጠቃሚዎችን ጨምሮ በመሳሰሉት ተቋማት ሰራተኞች ላይ ትኩረት አድርጎ የሚሰራ ድርጅት ነው፡፡<br> 
            የታክሲ ሰልፍ ሰልችቶታል? በተመጣጣኝ ወርሃዊ ክፍያ ቋሚ የታክሲ አገልግሎት ተጠቃሚ ይሁኑ፡፡ <br>
            0911506002 ABRO TAXI. <br>
            ለተማሪዎች ጥንቃቄ በተሞላበት መልኩ ድንቅ የታክሲ አገልግሎት እነሆ ብለናል፡፡ ABRO CHILDREN የተሰኘው አገልግሎታችን ብዙ ወላጆችን እፎይ የሚያስብል ከመሆኑ በተጨማሪ በጥንቃቄ በተመረጡ አሽከርካሪዎች የሚሰጥ መሆኑ ተመራጭ ያደርጉናል፡፡ <br>
            ከእርሶ የሚጠበቀው ዛሬውኑ መመዝገብ ብቻ ነው፡፡ ዋጋችን ተመጣጣኝ አገልግሎታችን አስተማማኝ!!
            0911506002 ABRO TAXI. 
            </p>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
    
    <script>
      const navbar = document.getElementById("navbar");
      let scrolled = false;

      window.onscroll = function () {
        if (window.pageYOffset > 100) {
          navbar.classList.remove("top");
          if (!scrolled) {
            navbar.style.transform = "translateY(-70px)";
          }
          setTimeout(function () {
            navbar.style.transform = "translateY(0)";
            scrolled = true;
          }, 200);
        } else {
          navbar.classList.add("top");
          scrolled = false;
        }
      };

      // Smooth Scrolling
      $("#navbar a, .btn").on("click", function (e) {
        if (this.hash !== "") {
          e.preventDefault();

          const hash = this.hash;

          $("html, body").animate(
            {
              scrollTop: $(hash).offset().top - 100,
            },
            800
          );
        }
      });
    </script>
  </body>
</html>
